<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>OpenWanderer</title>
<link rel='stylesheet' type='text/css' href='css/otv.css' />

<link rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css'/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4.2.1/dist/photo-sphere-viewer.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4.2.1/dist/plugins/markers.min.css"/>
<script type='text/javascript' src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js'></script>
<script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js'></script>
<link rel='stylesheet' type='text/css' href='https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css' />
<link rel='stylesheet' type='text/css' href='https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css' />
<script type='text/javascript' src='https://unpkg.com/openwanderer-jsapi@0.1.2'></script>
<script type='text/javascript' src='https://unpkg.com/openwanderer-jsapi-transitions@0.1'></script>
<link rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css'/>
<script type='text/javascript' src='https://unpkg.com/openwanderer-app@0.0.2'></script>
<script type='module' src='js/index.js'></script>
</head>

<body>

<div id='main'>
    <div id='heading'>
        <div id='mobileHeadingContainer'><h1>OpenWanderer</h1></div>
        <div id="loginContainer"> </div>
        <div id='headingContainer'>
            <h1>OpenWanderer</h1>
        </div>
        <div id='controlContainer'></div>
        <div style='float: left'>
        </div>
    </div>

    <div id='viewContainer'>
        <div id='pano'></div>
        <div id='searchContainer'></div>
        <div id='map'></div>
		<div id='rotateControlsContainer'></div>
		<div id='uploadContainer'></div>
	</div>
</div>
</body>
</html>
